h1{
    color : blue;
}
h2{
    color: orange;

}
p{
    color :white;
    background:black;
}
button{
    color :white;
    background-color: blue;
}

h3{
    color : rgb(40, 113, 120);
    background:black;
}
h4{
    color : #ff009d;
    background:black;
}
div{
    text-align : right;
}


