h1{
    color: chartreuse;
}
h2{
    color: rgb(255, 0, 13);
}
h3{
    color: rgb(43, 0, 255);
}
h4{
    color: rgb(255, 0, 170);
}
h5{
    color: rgb(144, 0, 255);
}
h6{
    color: rgb(255, 98, 0);
}
