*{
    font-size: 15px;
}
h1{
    color:blueviolet;
}
h4{
    color:blue;
}
a{
    color:red;
}
#login{
    background-color: aqua;

}
#signup{
    background-color: aqua;
}
.upvote{
    background-color:greenyellow;
}
.answer{
    background-color: green;
}
p a{
    color:chocolate;
}
p + h3{
    color:deeppink;
}
div>p{
    background-color: yellow;
}
input[type]{
    color:rgb(4, 17, 197);
}
input[password]{
    color:black;
}
h2{
    color:mediumspringgreen !important;
}
#intro{
    color:darkred;
}
.myclass{
    color:olive;
}
.paragraph{
    background-color: darksalmon;
}
h1::first-letter{
    color:black;
}
input::first-line{
    background-color: yellowgreen;
    color:forestgreen

}
div{
    background-color: yellow;
}
li{
    background-color: blue            ;
}